@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Crete+Round&family=Playfair+Display&family=Roboto:wght@300&family=Rubik&family=Varela&family=Varela+Round&family=Work+Sans:wght@300&display=swap");

.carousel {
    height: 100vh;
    font-family: "Playfair Display", serif;
    position: relative;
}
.slider-img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.9;
}
.carousel-item {
    background: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.9)
    ) !important;
}
.slider-text {
    position: absolute;
    top: 41%;
    left: 18%;
    max-width: 45rem;
    animation: transition-up-down 0.6s;
}
.carousel-text {
    z-index: 20;
    color: white;
    font-size: 4.5rem;
    line-height: 5rem;
}
.buy-now-btn {
    background-color: #e52e71;
    border: none;
    padding: 0.7rem 2.1rem;
    color: white;
    font-size: 1.2rem;
    margin-top: 1rem;
    animation: zoomIn 1.4s;
}
.nav-wrapper {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 110px;
    background-color: transparent;
    color: white;
}
.nav-wrapper.active {
    background-color: white;
    animation: header-up-down 1s;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 6px 6px;
}
.nav-wrapper.active .logo h1 {
    color: #e52e71;
}
nav {
    width: 70%;
    margin: auto;
}
.logo {
    position: fixed;
    margin: 6px 36px;
    float: left;
}
.logo h1 {
    font-size: 3.6rem;
    margin-bottom: 0px;
    padding-bottom: 0%;
}

.menu {
    display: block;
}
nav ul {
    overflow: hidden;
    text-align: end;
    transition: 1s;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
    padding: 40px 30px;
}

.mobile-menu-icon {
    display: none;
}
.active,
li:hover {
    color: #e52e71;
}

@keyframes transition-up-down {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
    }
}
@keyframes header-up-down {
    from {
        transform: translateY(-35px);
    }
    to {
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 1600px) {
    .slider-text {
        left: 15%;
    }
}
@media only screen and (max-width: 1450px) {
    .slider-text {
        left: 12%;
    }
}
@media only screen and (max-width: 1100px) {
    .slider-text {
        left: 9%;
    }
}
@media only screen and (max-width: 992px) {
    .slider-text {
        left: 5%;
        max-width: 35rem;
    }
}
@media only screen and (max-width: 780px) {
    nav {
        width: 100%;
    }
    .menu {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
        background-color: transparent;
        border: none;
        position: absolute;
        font-size: 3rem;
        float: right;
        text-align: end;
        color: white;
        top: 20%;
        right: 12%;
    }
    nav ul li {
        display: block;
        color: white;
        width: 100%;
        transition: all 0.5s ease;
        background-color: white;
        color: black;
        text-align: start;
        padding: 10px 30px;
        font-size: 1.6rem;
    }
    .nav-hamburger {
        margin-top: 9.5rem;
        height: fit-content;
        padding: 0%;
        margin-left: 2rem;
        transition: 0.6s ease-in-out;
        animation: header-up-down 1s;
    }
    .logo {
        margin: 0px;
        position: absolute;
        top: 20%;
        left: 10%;
    }
    .mobile-menu-icon.active {
        background-color: white;
        color: #e52e71;
    }
    .buy-now-btn {
        padding: 1rem 3rem;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 600px) {
    .slider-text {
        left: 2%;
        max-width: 28rem;
    }
}
