@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Crete+Round&family=Playfair+Display&family=Roboto:wght@300&family=Rubik&family=Varela&family=Varela+Round&family=Work+Sans:wght@300&display=swap");

.fixed-image-wrapper {
    height: 50vh;
    margin-bottom: 50%;
    background: url("../Images/fixed.jpg") no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    font-family: "Playfair Display", serif;
}
.what-client-says-wrapper {
    max-width: 1160px;
    margin: auto;
    height: 100%;
}
.what-client-says-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    font-size: 36px;
    color: #e52e71;
}
.content {
    line-height: 26px;
    font-size: 14px;
    margin-top: 1.2rem;
    letter-spacing: 0.6px;
}
.slider-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    background-color: white;
    padding: 3rem 2rem !important;
    border-radius: 10px;
}
.text h6 {
    line-height: 26px;
    font-size: 14px;
    letter-spacing: 0.6px;
}
.client-detail {
    margin-top: 2rem;
    display: flex;
}
.client-image {
    height: 4rem;
}
.client-name {
    margin-left: 1rem;
    padding: 0.5rem;
}
.client-name h6 {
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 0.9px;
}
.client-name h5 {
    color: black;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 2px;
}
@media only screen and (max-width: 767px) {
    .fixed-image-wrapper {
        height: auto;
    }
    .what-client-says-wrapper {
        padding: 6rem;
    }
    .text {
        background-color: white;
        padding: 3rem 2rem !important;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 552px) {
    .what-client-says-wrapper {
        padding: 4rem 1rem;
    }
}