@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Crete+Round&family=Playfair+Display&family=Roboto:wght@300&family=Rubik&family=Varela&family=Varela+Round&family=Work+Sans:wght@300&display=swap");

.services-wrapper {
    /* border: 2px solid red !important; */
    height: 100vh;
    padding: 6rem 0;
    font-family: "Playfair Display", serif;
}
.services {
    max-width: 1150px;
    margin: auto;
    padding: 1rem;
}
.service-header h1 {
    color: #e52e71;
    font-size: 36px;
}
.service-header h5 {
    font-size: 20px !important;
    margin-top: 0.7rem;
}
.hori-line {
    width: 8%;
}
.service-img {
    overflow: hidden;
}
.service-img img {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    filter: brightness(70%);
    z-index: 0;
    transition: all 0.5s;
}
.service-img img:hover {
    transform: scale(1.1);
    filter: brightness(50%);
}

.cards-container {
    margin-top: 4rem;
}
.text-cont {
    margin: auto;
    width: 85%;
    height: fit-content;
    position: relative;
    bottom: 36px;
    margin-bottom: 7%;
}
.text-cont:hover {
    animation: top-down 1s ease-in-out forwards;
}

.con{
    width: 100%;
    padding: 1rem;
    position: absolute;
    background-color: white;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: flex;
    align-items: center;
}
.con h5{
margin-right: .7rem;
}


@keyframes top-down {
    from {
        bottom: 36px;
    }
    to {
        bottom: 80px;
    }
}
